.main-input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 20px;
    border: 5px solid black;
    line-height: 40px;
    font-size: 30px;
}

#msg {
    height: 319px;
    margin-bottom: 40px;
}

.main-section.-fourth .wrapper {
    margin-left: 115px;
    margin-right: 115px;
}