.main-description {
    display: flex;
    text-align: justify;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    line-height: 1.3;
    font-weight: bold;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 182px;
}