.main-banner{
    box-sizing: border-box;
    background-image: url(../Assets/back.png);
    background-repeat: no-repeat;
    height: 100%;
    background-size: 100%;
    border-bottom: 10px solid #000;
    padding-top: 25%;
    padding-left: 41%;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.main-banner .box{
    margin-bottom: 40px;
}

.main-banner .navigation {
   display: flex;
   justify-content: space-around;
   padding-top: 20px;
   padding-bottom: 5%;
}