.main-button {
    display: inline-block;
    background-color: #D33395;
    padding: 15px 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
    border-radius: 10px;
    transition: transform 200ms linear;
    font-size: 20px;
    text-decoration: none;
}

.main-button.-footer {
    width: 100%;
    transition: transform 100ms linear;
    color: #fff;
    font-family: monospace;
    font-size: 30px;
    font-weight: 300;
    
}
.main-button.-footer:hover {
    transform: scale(1.01);
}

.main-button:hover{
    transform: scale(1.08);
    cursor: pointer;
    background-color: #320daa73;
    color: #fff;
}
